
@charset "utf-8";

/* 共通部分
-------------------------------- */
html {
    /* 標準フォントサイズ16px */
    font-size: 100%;
}

body {
    /*  */
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ" Pro W3,Noto Sans Japaneze, sans-serif;
    line-height: 1.7;
    color: #432;
    font-size-adjust: auto;
}

a {
    /* リンク文字の下線なし */
    text-decoration: yes;
}

img {
    /* 画像を親要素からはみ出さない */
    max-width: 100%;
}

.wrapper {
    /* 全てのコンテンツを収めるラッパー */
    max-width: 1100px;
    /* 最大横幅1100px */
    margin: 0 auto;
    /* 左右の外余白をごぶごぶ */
    padding: 0 4%;
    /* 左右の内余白を4% */
}

/* HEADER
----------------------------------*/
.page-header {
    /* ロゴとメニューの横並び */
    display: flex;
    justify-content: space-between;

}

.logo {
    /* ロゴエリアの指定 */
    width: 90px;
    margin-top: 15px;
    
}

.main-nav {
    /* メニューを横並び */
    display: flex;
    font-size: 1rem;
    /* root(html)で指定したfont-sizeの●文字分 */
    text-transform: uppercase;
    /* 大文字に変換 */
    margin-top: 20px;
    list-style-type: none;
    /* リストマーカーなし */
    width: 100%;
}

.main-nav li {
    /* リストアイテムの左外余白 */
    margin-left: 36px;
}

.main-nav a {
    /* メニューのリンク文字色(通常時) */
    color: #000099;
}

.main-nav a:hover {
    /* メニューのリンク文字色(ホバー時) */
    color: #222;
    text-decoration: none;
}
h2 {
    font-family: Noto Sans Japaneze;
    font-size: 50px;
    width: 100%;
}

/* home content */
.home-content {
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    background-color: clear;
    color: #222;
}

.home-content p {
    font-size: 1.25rem;
    margin: 450px 0px 0px 0px;
    background-color: orange;
    border-radius: 50px;
    text-align: center;
    
}

#home {
    background-image: url(../images/lets%20go.jpg);
    min-height: 110vh;
}

.big-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.find {
    animation: find 0.7s ease infinite alternate;
    text-align: center;
    font-size: 20px;
    background-color: lightgreen;
    border-width: thick;
    border-style: solid;
    border-radius: 25px;
    border-color: blue;
    margin: 10px;
    font-style: oblique;
    width: 100%;
}
.find strong {
    color: blue;
}

@keyframes find {
    0% {
        /* 要素の透明化・0は透明 */
        opacity: 0.5;
    }

    100% {
        /* 要素の透明化・はくっきり */
        opacity: 1;
        font-size: 30px;
    }}
    .search {
        font-size: 150%;
        text-align: center;
        display: flex;
        width: 100%;
        border-collapse: collapse;
  
    }
.domestic {
    background-color: grey;
    border: solid 2px orange;
}
.world {
    background-color: grey;
    border: solid 2px green;
}
.sale {
    text-align: center;
    font-size: 30px;
    border: 1px solid;
    margin: 20px 90px;
    border-radius: 35px;
    background-color: lightgreen;
    max-width: 100%;
}
.sale-logo {
    margin-top: 25px;
        max-width: 100px;
}
.world-sale {
    display: flex;
    justify-content: space-around;
}
.hawaii {
    text-align: center;
    color: white;
    background-color: white;
    width: 310px;
    border: solid black;
        max-width: 100%;
}
.waikiki {
    color: #fff;
    background-color: black;
}
.beach {
    max-width: 302px;
}
.hawaii span {
    color: #222;
    background: white
}

.rome {
    text-align: center;
    color: white;
    background-color: white;
    width: 310px;
    border: solid black;
        max-width: 100%;
}
.crosseo {
    color: #fff;
    background-color: black;
    margin-top: 0px;
}
.france {
    text-align: center;
    color: white;
    background-color: white;
    width: 310px;
    border: solid black;
        max-width: 100%;
}
.effel {
    color: #fff;
    background-color: black;
    margin-top: 0px;
}
.domestic-sale {/* 国内ーーーー */
    display: flex;
    justify-content: space-around;
}
.hiroshima {
    text-align: center;
    color: white;
    background-color: white;
    width: 310px;
    border: solid black;
        max-width: 100%;
}
.torii {
    color: #fff;
    background-color: black;
        }

.torii span {
    color: #222;
    background: white
}

.tokyo {
    text-align: center;
    color: white;
    background-color: white;
    width: 310px;
    border: solid black;
        max-width: 100%;
}
.tower {
    color: #fff;
    background-color: black;
    margin-top: 0px;
}
.kyoto {
    text-align: center;
    color: white;
    background-color: white;
    width: 310px;
    border: solid black;
        max-width: 100%;
}
.temple {
    color: #fff;
    background-color: black;
    margin-top: 0px;
}

.information-box {/* お知らせ */
      display: block;
  text-decoration: underline;
  color: #1A0DAB;
  position: relative;
  padding-left: 1.0em;
}
.information-box a:hover {
        color: red;
    text-decoration: none;
}

/* CONTACT*/
#contact {
    background-image: url(../images/contact.jpg);
    min-height: 50vh
        ;
}
/* フォーム-------- */
form div {
    margin-bottom: 16px;
}
label {
    font-size: 1.125rem;
}
label {
    /* label(お名前・メルアド・メッセージ)のデザイン */
    font-size: 1.125rem;
    /* フォントサイズ */
    margin-bottom: 10px;
    /* 下余白 */
    display: block;
    /* 箱もの扱い */
}

input[type="text"],
input[type="email"],
textarea {
    /* フォームパーツのデザイン */
    background: rgba(255, 255, 255, .5);
    /* 白の半透明 */
    border: 1px solid #765;
    /* 白の枠線 */
    border-radius: 5px;
    /* 角丸め */
    padding: 10px;
    /* 内側余白 */
    font-size: 1rem;
    /* 16px */
}

input[type="text"],
input[type="email"] {
    /* 最大幅240px */
    width: 100%;
    max-width: 240px;
   height: 2rem;
}

textarea {
    /* 最大幅480pxと6文字分の高さ */
    width: 100%;
    max-width: 480px;
    height: 6rem;
}

input[type="submit"] {
    border: solid ;
    cursor: pointer;
    line-height: 1;
    padding: 10px;
    border-radius: 20px;
    border-color: #666;
    background-color: aqua;
}
input[type="reset"] {
    border: solid ;
    cursor: pointer;
    line-height: 1;
    padding: 5px;
    border-radius: 20px;
    border-color: #666;
    background-color: greenyellow;
}

.sub-title {
    color: blue;
}
p {
    color: #222;
}
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between
}
.location-info {
    width: 28%;
    background-color: lightgreen;
}
.location-info p {padding: 12px 10px;
}
.location-map {
    width: 70%;
}
#goto {
    background-image: url(../images/plane.webp);
    min-height: 70vh;
    background-position: bottom;
	background-repeat: no-repeat;
}
    /* FOOTER------------ */
    footer {
        /* 背景色・中央揃え・上下内余白 */
        background: #222;
        text-align: center;
        border-radius: 15%;
    }

    footer p {
        /* 段落に白文字とフォントサイズ */
        color: #fff;
        font-size: 1.5rem;
    }
/* モバイル版
--------------------------------- */
@media (max-width: 600px) {

    /* 0~600pxまでのスタイル */
    .page-title {
        /* h2見出しのフォントサイズ指定 */
        font-size: 2.5rem;
    }

    .page-header {
        /* ロゴとメニューを縦置き */
        flex-direction: column;
        align-items: center;
    }

    /* NEWS(news.html) */
    .news-contents {
        /* articleとasideを縦置き */
        flex-direction: column;
    }

    #news .page-title {
        /* news.htmlの.page-titleに上外余白 */
        margin-top: 30px;
    }
    


    article,
    aside {
        /* ブラウザ横幅いっぱいに広げる */
        width: 100%;
    }

    aside {
        /* asideの上外余白 */
        margin-top: 60px;
    }

    .post-info {
        /* article内headerの下外余白 */
        margin-bottom: 30px;
    }

    .post-date {
        /* 青丸日付のデザイン */
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }

    .post-date span {
        /* 2019年のデザイン */
        font-size: 0.875rem;
        padding-top: 2px;
    }

    .post-title {
        /* article内h2のフォントサイズ */
        font-size: 1.375rem;
    }

    .post-cat {
        /* article内pタグのフォントサイズ */
        font-size: 0.875rem;
    }

    .post-title,
    .post-cat {
        /* article内h2とpの青丸との距離 */
        margin-left: 80px;
    }

    /* MENU */
    .menu-content {
        /* .menu-contentの上余白 */
        margin-top: 20%;
    }

    /* CONTACT */
    #contact .page-title {
        /* CONTACT見出しの下余白 */
        margin-top: 40px;
    }

    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        /* ブラウザの横幅いっぱい */
        max-width: 100%;
    }

/* 店舗情報・地図/ sns */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
.location-info,
.location-map,
